<div class="container">
  <h4 style="text-align: center;">Tareas del proyecto <b><%= @project.name%></b>

  </h4> 
  <h4 style="text-align: center;">Administrado por <b><%= @project.user.email%></b>
    
  </h4>   

  <h4 style="text-align: center;">Fecha de inicio <b><%= @project.start_project%> </b> Fecha de finalización <b><%= @project.end_project%></b>
    
  </h4>     

  <p style="text-align: left;"><%= @project.description%>
    
  </p>     
  <hr>
<%if @tasks.count > 0%>
  <table class="table">
    <thead>
      <tr>
        <th>Asignada a</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
        <th>Descripción de la tarea</th>
        <th>Activa ?</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %> 
      <tr>
        <th>
          <%= task.user.email %>
        </th>
        <th>
          <%= task.start_task %>
        </th>
        <th>
          <%= task.start_task %>
        </th>           
        <th>
          <%= task.description %>
        </th>  
        <th style="text-align: center;">
          <% if task.active == true%>  
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %> 
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>                         
          <% end %>              
        </th>                         
        <% end %>   
      </tbody>
    </table>  
<% else%>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  A este proyecto no se le han asignado tareas
</div>
<% end%>

</div>

