<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<p>
  <strong>Start task:</strong>
  <%= @task.start_task %>
</p>

<p>
  <strong>End task:</strong>
  <%= @task.end_task %>
</p>

<p>
  <strong>Active:</strong>
  <%= @task.active %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
