<div class="container">
  <%= form_for(@project, :html => {:class => 'form-app'}) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <%= f.text_field :name, autofocus: true, :type => 'text', :id => 'inputEmail', :class => 'form-control', :placeholder => 'Nombre del proyecto', :required => 'Nombre requerido' %>        
      </div>
      <div class="form-group">
        <input type="text" class="form-control" value="<%= current_user.email %>" disabled></input>
      </div>
      
      <div class="form-group">
          <p class="form-group">Fecha de inicio actual: <%= @project.start_project%></p>  
          <div class='input-group date' id='start_project'>
              <%= f.text_field :start_project, :id => 'start_project', :class => 'datepicker form-control', :placeholder => 'Fecha de inicio del proyecto' %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
      <div class="form-group">
        <p class="form-group">Fecha de finalzaci贸n actual: <%= @project.end_project%></p>  
          <div class='input-group date' id='end_project'>
              <%= f.text_field :end_project, :class => 'datepicker form-control', :placeholder => 'Fecha de finalzaci贸n del proyecto' %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
      <div class="form-group">
        <h3 for="comment">Descripci贸n:</h3>
        <%= f.text_area :description, :size => "0x10", autofocus: true, :type => 'text', :id => 'description', :class => 'form-control', :placeholder => 'Breve Descripcio贸n del proyecto', :required => 'Nombre requerido'%>        
      </div>

      <%= f.submit "Crear proyecto", :class => 'btn btn-success' %>
  <% end %>
</div>


<script type="text/javascript">
  $(function () {
    $('#start_project').datetimepicker();
    $('#end_project').datetimepicker();
  });
  $( document ).ready(function() {
    
});
</script>
