<div class="container">
  <h1 style="text-align: center;">Mis proyectos</h1> 
  <hr>
</div>
<div class="container">
  <% if @projects.count > 0%>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre proyecto</th>
          <th>Admin</th>
          <th>Descripción</th>
          <th>Fecha inicio</th>
          <th>Fecha finalización</th>
          <th>Activo ?</th>
          <%if administrator(current_user.id) %>        
            <th></th>
            <th></th>          
            <th>Crear tarea</th>        
          <%end%>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <th>
            <%= project.name %>
          </th>
          <th>
            <%= project.user.email %>
          </th>
          <th>
            <%= project.description[0, 30]%>
          </th>
          <th>
            <%= project.start_project %>
          </th>
          <th>
            <%= project.end_project %>
          </th>
          <th style="text-align: center;">
              <% if project.active == true%>  
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% else %> 
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>                         
              <% end %>              
          </th>
          <%if administrator(current_user.id) %>
            <th>
              <%= link_to edit_project_path(project) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
              <% end %>          
            </th>
            <th>
              <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="glyphicon glyphicon-trash"></i>
              <% end %>                              
            </th>
            <th style="text-align: center;">
              <%= link_to new_task_path(:project_id => project.id) do%>
                  <i class="glyphicon glyphicon-list-alt"></i>
              <% end %>                                        
            </th>
          <%end%>        
            <th>
              <%= link_to tasks_path(:project_id => project.id) do %>
                  <i class="glyphicon glyphicon-search"></i>
              <% end %>                    
            </th>          
        </tr>
        <% end %>
      </tbody>
    </table>   
  <% else %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      No se le han asignado tareas a ningún proyecto
    </div>  
  <% end%>
  <% if administrator(current_user.id)%>
    <%= link_to 'New Project', new_project_path, :class => 'btn btn-success' %> 
  <%end%>
  
</div>
